<a href="https://colab.research.google.com/github/michaelwnau/_ai_academy_notebooks/blob/main/Week9_tues_nau_Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Workshop 9 [Student]

This notebook will cover the following topics:

1. Series
    - Indexing
    - Modification
2. Dataframe
    - Read CSV to Dataframe
    - Informative Functions
    - Modification Functions
    - Selection Functions
4. Handling Missing Data

In [32]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

## 9.1 SERIES (Follow)

**Learning Objectives:**

1. Understand Series in Pandas.
2. Understand attributes of Series.
3. Understand modification functions for Series.
4. Manipulate data using Series.

In [ ]:
"""
Add comments for you own reference
"""

import pandas as pd
s = pd.Series([40, 50, 60])
s.index = ['A','B','C']
s.name = 'Values'
print(s,"\n")
print(s['B'],"\n")
print(s[1:],"\n")
print(s[-1],"\n")

A    40
B    50
C    60
Name: Values, dtype: int64

50

B    50
C    60
Name: Values, dtype: int64

60

In [ ]:
"""
Add comments for you own reference
"""

s.update(pd.Series([10], index=['A']))
print(s)
s.rename({'A': 'X'},inplace=True)
print(s)
s.replace(20,15,inplace=True)
print(s)

A    10
B    50
C    60
Name: Values, dtype: int64
X    10
B    50
C    60
Name: Values, dtype: int64
X    10
B    50
C    60
Name: Values, dtype: int64

**Evaluation:**

After running this program, think about and answer these questions:

1. What is the use of Index and Name?
2. Try to understand how slicing works in Series.
3. What does the update() function do?
3. What does the rename() function do?
3. What does the replace() function do?

## 9.1 SERIES (Group)

Write a program that will do the following:

1. Generate a series of grades for 10 Students (referenced by student ID)
2. Add a 10 point boost to all grades
3. Change the student IDs to contain a prefix ST
4. Replace all grades below 50 to 0

In [53]:
import pandas as pd

# Generate a dictionary of student IDs and their corresponding grades
grades = {'ID1': 75, 'ID2': 60, 'ID3': 85, 'ID4': 45, 'ID5': 55,
          'ID6': 90, 'ID7': 70, 'ID8': 80, 'ID9': 50, 'ID10': 65, 'ID11':57}

# Convert the dictionary to a Pandas Series
g = pd.Series(grades)

# Add a 10 point boost to all grades
g_new = g + 10

# Change the student IDs to contain a prefix ST
g_new.index = ['STID' + str(i) for i in range(1, 12)]

# Replace all grades below 50 to 0
g_new[g_new < 50] = 0

# Print the final series of grades
print(g_new)

STID1      85
STID2      70
STID3      95
STID4      55
STID5      65
STID6     100
STID7      80
STID8      90
STID9      60
STID10     75
STID11     67
dtype: int64

## 9.2 DATAFRAME (Follow)

**Learning Objectives:**

1. Understand Dataframe in Pandas.
2. Understand attributes of a Dataframe.

In [ ]:
"""
Add comments for you own reference
"""

import pandas as pd

df = pd.DataFrame([10,20,30])
print(df)
print(type(df))

df = pd.DataFrame({'Name':['A','B','C'],'Age':[10,20,30]})
print(df)
print(type(df['Age'][0]))

    0
0  10
1  20
2  30
<class 'pandas.core.frame.DataFrame'>
  Name  Age
0    A   10
1    B   20
2    C   30
<class 'numpy.int64'>

In [ ]:
"""
Add comments for you own reference
"""

import pandas as pd
import numpy as np

df = pd.DataFrame(
{
        "A": 1.0,
        "B": pd.Timestamp("20220102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo"
 })
print(df)
print(type(df['E'][0]))

     A          B    C  D      E    F
0  1.0 2022-01-02  1.0  3   test  foo
1  1.0 2022-01-02  1.0  3  train  foo
2  1.0 2022-01-02  1.0  3   test  foo
3  1.0 2022-01-02  1.0  3  train  foo
<class 'str'>

**Evaluation:**

After running this program, think about and answer these questions:

1. How many dimentions does a dataframe have?
2. How to Convert List into Dataframe?
3. What types of data can a dataframe hold?
4. How does Dataframe index its elements?

## 9.2 DATAFRAME (Group)

**Write a program that will do the following:**

1. Create a dataframe with employees, job title, salary, and years worked.
2. There should be at least 5 entries.
3. Add indexes to the rows so when you print the dataframe it will display properly.
4. Try exploring the pandas library writing commands from the library.
5. You may be asked to share things you did.

In [56]:
"""
Add comments for you own reference
"""

import pandas as pd

print(df)
print(type(df))

df = pd.DataFrame(
    {
    'Employees':['John','Sally','Bob','Diane'],
    'Job title':['Sales','Engineer','Accounting', 'Design'], 
    'Salary':[ 78000,92000,108000,138000,], 
    'Years worked':[2, 4, 6, 8]
    })
print(df)
print(type(df['Employees'][0]))

  Employees   Job title  Salary  Years worked
0      John       Sales   78000             2
1     Sally    Engineer   92000             4
2       Bob  Accounting  108000             6
3     Diane      Design  138000             8
<class 'pandas.core.frame.DataFrame'>
  Employees   Job title  Salary  Years worked
0      John       Sales   78000             2
1     Sally    Engineer   92000             4
2       Bob  Accounting  108000             6
3     Diane      Design  138000             8
<class 'str'>

## 9.3 READING a CSV (Follow)
1. Learn to import CSV in dataframe.
2. Understand Descriptive functions for Dataframe.
3. Understand Modification functions for Dataframe.
4. Understand Selection functions for Dataframe.
5. Manipulate data using Dataframe.

In [11]:
"""
Add comments for you own reference
"""

import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/AI ACADEMY/1- Computer Programming with Python/Week 9 - Notebooks/week9 student/Iris.csv")
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [12]:
print(df.shape)

(150, 6)

In [13]:
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
print(df.tail())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [16]:
print(df.describe())

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [15]:
"""
Add comments for you own reference
"""

print(df.shape)
dt = df.transpose()
print(dt.shape)
print(dt.head())

(150, 6)
(6, 150)
               0    1    2    3    4    5    6    7    8    9    ...  140  \
Id               1    2    3    4    5    6    7    8    9   10  ...  141
SepalLengthCm  5.1  4.9  4.7  4.6  5.0  5.4  4.6  5.0  4.4  4.9  ...  6.7
SepalWidthCm   3.5  3.0  3.2  3.1  3.6  3.9  3.4  3.4  2.9  3.1  ...  3.1
PetalLengthCm  1.4  1.4  1.3  1.5  1.4  1.7  1.4  1.5  1.4  1.5  ...  5.6
PetalWidthCm   0.2  0.2  0.2  0.2  0.2  0.4  0.3  0.2  0.2  0.1  ...  2.4

               141  142  143  144  145  146  147  148  149
Id             142  143  144  145  146  147  148  149  150
SepalLengthCm  6.9  5.8  6.8  6.7  6.7  6.3  6.5  6.2  5.9
SepalWidthCm   3.1  2.7  3.2  3.3  3.0  2.5  3.0  3.4  3.0
PetalLengthCm  5.1  5.1  5.9  5.7  5.2  5.0  5.2  5.4  5.1
PetalWidthCm   2.3  1.9  2.3  2.5  2.3  1.9  2.0  2.3  1.8

[5 rows x 150 columns]

In [28]:
di = df.sort_index(axis=1, ascending=False)
print(di.head())
print(di.tail())

   trestbps  thalach  thal  target  slope  sex  restecg  oldpeak  fbs  exang  \
0       125      168     3       0      2    1        1      1.0    0      0
1       140      155     3       0      0    1        0      3.1    1      1
2       145      125     3       0      0    1        1      2.6    0      1
3       148      161     3       0      2    1        1      0.0    0      0
4       138      106     2       0      1    0        1      1.9    1      0

   cp  chol  ca  age
0   0   212   2   52
1   0   203   0   53
2   0   174   0   70
3   0   203   1   61
4   0   294   3   62
      trestbps  thalach  thal  target  slope  sex  restecg  oldpeak  fbs  \
1020       140      164     2       1      2    1        1      0.0    0
1021       125      141     3       0      1    1        0      2.8    0
1022       110      118     2       0      1    1        0      1.0    0
1023       110      159     2       1      2    0        0      0.0    0
1024       120      113     3       0      1    1        1      1.4    0

      exang  cp  chol  ca  age
1020      1   1   221   0   59
1021      1   0   258   1   60
1022      1   0   275   1   47
1023      0   0   254   0   50
1024      0   0   188   1   54

In [57]:
# di = df.sort_values(by="SepalWidthCm")
# print(di.head())
# print(di.tail())

**Evaluation:**

After running this program, think about and answer these questions:

1. What does head() function do?
2. What does tail() function do?
3. What information does describe() give?
4. What does transpose() function do?
5. What is the difference between sort_index and sort_values?

## 9.3 READING a CSV (Group)

Write a program that will do the following:

1. Use 'heart.csv' Data set.
2. Perform all the above operations on the data set to understand the data

In [58]:
"""
Add comments for you own reference
"""

import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/AI ACADEMY/1- Computer Programming with Python/Week 9 - Notebooks/week9 student/heart.csv")
print(df)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [18]:

print(df.shape)

(1025, 14)

In [19]:

print(df.head())

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   52    1   0       125   212    0        1      168      0      1.0      2
1   53    1   0       140   203    1        0      155      1      3.1      0
2   70    1   0       145   174    0        1      125      1      2.6      0
3   61    1   0       148   203    0        1      161      0      0.0      2
4   62    0   0       138   294    1        1      106      0      1.9      1

   ca  thal  target
0   2     3       0
1   0     3       0
2   0     3       0
3   1     3       0
4   3     2       0

In [21]:

print(df.tail())

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

In [23]:
print(df.describe())

               age          sex           cp     trestbps        chol  \
count  1025.000000  1025.000000  1025.000000  1025.000000  1025.00000
mean     54.434146     0.695610     0.942439   131.611707   246.00000
std       9.072290     0.460373     1.029641    17.516718    51.59251
min      29.000000     0.000000     0.000000    94.000000   126.00000
25%      48.000000     0.000000     0.000000   120.000000   211.00000
50%      56.000000     1.000000     1.000000   130.000000   240.00000
75%      61.000000     1.000000     2.000000   140.000000   275.00000
max      77.000000     1.000000     3.000000   200.000000   564.00000

               fbs      restecg      thalach        exang      oldpeak  \
count  1025.000000  1025.000000  1025.000000  1025.000000  1025.000000
mean      0.149268     0.529756   149.114146     0.336585     1.071512
std       0.356527     0.527878    23.005724     0.472772     1.175053
min       0.000000     0.000000    71.000000     0.000000     0.000000
25%       0.000000     0.000000   132.000000     0.000000     0.000000
50%       0.000000     1.000000   152.000000     0.000000     0.800000
75%       0.000000     1.000000   166.000000     1.000000     1.800000
max       1.000000     2.000000   202.000000     1.000000     6.200000

             slope           ca         thal       target
count  1025.000000  1025.000000  1025.000000  1025.000000
mean      1.385366     0.754146     2.323902     0.513171
std       0.617755     1.030798     0.620660     0.500070
min       0.000000     0.000000     0.000000     0.000000
25%       1.000000     0.000000     2.000000     0.000000
50%       1.000000     0.000000     2.000000     1.000000
75%       2.000000     1.000000     3.000000     1.000000
max       2.000000     4.000000     3.000000     1.000000

In [25]:
di = df.sort_index(axis=1, ascending=False)
print(di.head())
print(di.tail())

   trestbps  thalach  thal  target  slope  sex  restecg  oldpeak  fbs  exang  \
0       125      168     3       0      2    1        1      1.0    0      0
1       140      155     3       0      0    1        0      3.1    1      1
2       145      125     3       0      0    1        1      2.6    0      1
3       148      161     3       0      2    1        1      0.0    0      0
4       138      106     2       0      1    0        1      1.9    1      0

   cp  chol  ca  age
0   0   212   2   52
1   0   203   0   53
2   0   174   0   70
3   0   203   1   61
4   0   294   3   62
      trestbps  thalach  thal  target  slope  sex  restecg  oldpeak  fbs  \
1020       140      164     2       1      2    1        1      0.0    0
1021       125      141     3       0      1    1        0      2.8    0
1022       110      118     2       0      1    1        0      1.0    0
1023       110      159     2       1      2    0        0      0.0    0
1024       120      113     3       0      1    1        1      1.4    0

      exang  cp  chol  ca  age
1020      1   1   221   0   59
1021      1   0   258   1   60
1022      1   0   275   1   47
1023      0   0   254   0   50
1024      0   0   188   1   54

In [29]:
# di = df.sort_values(by="SepalWidthCm")
# print(di.head())
# print(di.tail())

## 9.4 Location functions in Pandas (Follow)
1. Understand how to use loc and iloc in pandas.
2. Understand what loc and iloc do in a dataframe.

In [ ]:
"""
Add comments for you own reference
"""
import pandas as pd

df = pd.read_csv("Iris.csv")

ds = df.loc[70]
print(ds)

In [ ]:
ds = df.iloc[70]
print(ds)

In [ ]:
ds = df.at[70,'SepalWidthCm']
print(ds)

In [ ]:
ds = df.iat[70,2]
print(ds)

In [ ]:
ds = df[df['SepalLengthCm']>7]
print(ds.head())

In [ ]:
ds = df[df['SepalLengthCm'].isin([5,6,7])]
print(ds.head())

In [ ]:
da = df.iloc[:,:-1].apply(lambda x: x.max()-x.min())
print(da)

**Evaluation:**

After running this program, think about and answer these questions:

1. What does loc() and at() do?
2. What does iloc() and it() do?
3. What is the difference between all selection functions?

## 9.4 Location functions in Pandas (Group)

Write a program that will do the following:

1. Use Heart.csv Data set.
2. Print the column names and number of rows in data
2. Get a row number from the user.
3. Get a column name from the user.
4. Print:
    - Row.
    - Column.
    - Row X Column

In [60]:
"""
Add comments for you own reference
"""
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/AI ACADEMY/1- Computer Programming with Python/Week 9 - Notebooks/week9 student/heart.csv')







ds = df.loc[70]
print(ds)

age          59.0
sex           1.0
cp            0.0
trestbps    170.0
chol        326.0
fbs           0.0
restecg       0.0
thalach     140.0
exang         1.0
oldpeak       3.4
slope         0.0
ca            0.0
thal          3.0
target        0.0
Name: 70, dtype: float64

In [61]:
import pandas as pd

# Load the Heart.csv dataset
df = pd.read_csv('/content/drive/MyDrive/AI ACADEMY/1- Computer Programming with Python/Week 9 - Notebooks/week9 student/heart.csv')

# Print the column names and number of rows in data
print("Column Names:", df.columns)
print("Number of Rows:", len(df))

# Get a row number and column name from the user
row_num = int(input("Enter a Row Number: "))
col_name = input("Enter a Column Name: ")

# Print the specified row, column, and the intersection of both
print("Row:")
print(df.loc[row_num])
print("\nColumn:")
print(df[col_name])
print("\nRow X Column:")
print(df.loc[row_num, col_name])

Column Names: Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')
Number of Rows: 1025
Enter a Row Number: 5
Enter a Column Name: chol
Row:
age          58.0
sex           0.0
cp            0.0
trestbps    100.0
chol        248.0
fbs           0.0
restecg       0.0
thalach     122.0
exang         0.0
oldpeak       1.0
slope         1.0
ca            0.0
thal          2.0
target        1.0
Name: 5, dtype: float64

Column:
0       212
1       203
2       174
3       203
4       294
       ...
1020    221
1021    258
1022    275
1023    254
1024    188
Name: chol, Length: 1025, dtype: int64

Row X Column:
248

## 9.5 MISSING DATA (Follow)

**Learning Objectives:**

1. Understand the concept of Missing Data.
2. Learn to point out missing data.
3. Understand how to deal with missing data.
4. Learn different functions to deal with missing data.

In [ ]:
"""
Add comments for you own reference
"""

import pandas as pd

df = pd.read_csv("mamograph.csv",na_values='NaN')
print(df.head())

In [ ]:
dn = df.copy()
print(dn.shape)
dx = dn.dropna()
print(dx.shape)
print(dx.head())

In [ ]:
dn2 = df.copy()
print(dn2.shape)
dx2 = dn2.fillna(3.0)
print(dx2.shape)
print(dx2.head())

In [ ]:
print(pd.isna(df).head())

**Evaluation:**

After running this program, think about and answer these questions:

1. What does dropna() function do?
1. What does fillna() function do?
1. What does isna() function return?

## 9.5 MISSING DATA (Group)

Write a program that will do the following:

1. Use 'marketing.csv'
2. Perform these tasks seperately
    - Drop all rows with NaN
    - Replace NaN values in marketing.csv column with mean of each column.

In [66]:
import pandas as pd

# Load the marketing.csv dataset
df = pd.read_csv('/content/drive/MyDrive/AI ACADEMY/1- Computer Programming with Python/Week 9 - Notebooks/week9 student/marketing.csv', na_values='NaN')

# Display the first few rows of the dataset
print(df.head())

# Drop all rows with NaN
dn = df.dropna()
print("Dropped Rows with NaN:")
print(dn.shape)
print(dn.head())

# Replace NaN values in each column with the mean of that column
dn2 = df.fillna(df.mean())
print("Replaced NaN with Column Mean:")
print(dn2.shape)
print(dn2.head())

# Check if there are any NaN values in the dataset
print(pd.isna(df).head())

   Sex   MaritalStatus   Age   Education   Occupation   YearsInSf  \
0    2             1.0     5         4.0          5.0         5.0
1    1             4.0     6         3.0          NaN         5.0
2    1             1.0     4         6.0          1.0         NaN
3    2             1.0     5         5.0          1.0         5.0
4    2             1.0     3         5.0          1.0         5.0

    DualIncome   HouseholdMembers   Under18   HouseholdStatus   TypeOfHome  \
0            3                3.0         0               1.0          1.0
1            1                1.0         0               1.0          1.0
2            2                3.0         1               1.0          1.0
3            2                2.0         0               1.0          1.0
4            2                3.0         1               2.0          3.0

    EthnicClass   Language   Income
0           7.0        NaN        9
1           7.0        NaN        4
2           7.0        1.0        6
3           7.0        NaN        9
4           7.0        1.0        9
Dropped Rows with NaN:
(6875, 14)
   Sex   MaritalStatus   Age   Education   Occupation   YearsInSf  \
4    2             1.0     3         5.0          1.0         5.0
5    2             5.0     1         2.0          6.0         5.0
6    2             5.0     1         2.0          6.0         3.0
7    1             1.0     6         4.0          8.0         5.0
8    1             5.0     2         3.0          9.0         4.0

    DualIncome   HouseholdMembers   Under18   HouseholdStatus   TypeOfHome  \
4            2                3.0         1               2.0          3.0
5            1                4.0         2               3.0          1.0
6            1                4.0         2               3.0          1.0
7            3                2.0         0               1.0          1.0
8            1                3.0         1               2.0          3.0

    EthnicClass   Language   Income
4           7.0        1.0        9
5           7.0        1.0        1
6           7.0        1.0        1
7           7.0        1.0        8
8           7.0        1.0        1
Replaced NaN with Column Mean:
(8992, 14)
   Sex   MaritalStatus   Age   Education   Occupation   YearsInSf  \
0    2             1.0     5         4.0     5.000000    5.000000
1    1             4.0     6         3.0     3.787827    5.000000
2    1             1.0     4         6.0     1.000000    4.198168
3    2             1.0     5         5.0     1.000000    5.000000
4    2             1.0     3         5.0     1.000000    5.000000

    DualIncome   HouseholdMembers   Under18   HouseholdStatus   TypeOfHome  \
0            3                3.0         0               1.0          1.0
1            1                1.0         0               1.0          1.0
2            2                3.0         1               1.0          1.0
3            2                2.0         0               1.0          1.0
4            2                3.0         1               2.0          3.0

    EthnicClass   Language   Income
0           7.0   1.127534        9
1           7.0   1.127534        4
2           7.0   1.000000        6
3           7.0   1.127534        9
4           7.0   1.000000        9
     Sex   MaritalStatus    Age   Education   Occupation   YearsInSf  \
0  False           False  False       False        False       False
1  False           False  False       False         True       False
2  False           False  False       False        False        True
3  False           False  False       False        False       False
4  False           False  False       False        False       False

    DualIncome   HouseholdMembers   Under18   HouseholdStatus   TypeOfHome  \
0        False              False     False             False        False
1        False              False     False             False        False
2        False              False     False             False        False
3        False              False     False             False        False
4        False              False     False             False        False

    EthnicClass   Language   Income
0         False       True    False
1         False       True    False
2         False      False    False
3         False       True    False
4         False      False    False

## 9.6 Pandas project (Group)

**Write a program that will do the following:**
1. Read in the teamsummaries.csv dataset included.  
2. Do some basic statistical analysis.  
3. Try to create an argument to determine the best NBA team of all time.  
4. You may also use a different dataset and do a different analysis. 
5. Use the pandas library in your project.

In [69]:
import pandas as pd

# Load the teamsummaries.csv dataset
df = pd.read_csv('/content/drive/MyDrive/AI ACADEMY/1- Computer Programming with Python/Week 9 - Notebooks/week9 student/Team Summaries.csv')

# Display the first few rows of the dataset
print(df.head())

# Calculate the average pace of play for all teams in the dataset
avg_pace = df['pace'].mean()

# Calculate the win-loss record for all teams in the dataset
df['win_loss'] = df['w'] / (df['w'] + df['l'])

# Find the team with the best win-loss record and pace of play
best_team = df.loc[df['win_loss'].idxmax()]

# Print the team with the best win-loss record and their statistics
print("The best NBA team of all time based on win-loss record and pace of play is:")
print(best_team[['team', 'w', 'l', 'win_loss', 'pace']])
print(f"The average pace of play for all teams in the dataset is {avg_pace:.2f}.")

   season   lg               team abbreviation  playoffs   age     w     l  \
0    2022  NBA      Atlanta Hawks          ATL     False  26.1  28.0  30.0
1    2022  NBA     Boston Celtics          BOS     False  26.0  34.0  26.0
2    2022  NBA      Brooklyn Nets          BRK     False  29.1  31.0  28.0
3    2022  NBA      Chicago Bulls          CHI     False  26.2  38.0  21.0
4    2022  NBA  Charlotte Hornets          CHO     False  25.6  29.0  31.0

     pw    pl  ...  tov_percent  orb_percent  ft_fga  opp_e_fg_percent  \
0  30.0  28.0  ...         11.3         22.8   0.199             0.540
1  40.0  20.0  ...         12.7         23.8   0.194             0.496
2  30.0  30.0  ...         12.4         23.4   0.190             0.516
3  34.0  25.0  ...         11.9         20.9   0.198             0.533
4  28.0  32.0  ...         11.6         23.1   0.172             0.540

   opp_tov_percent  opp_drb_percent  opp_ft_fga             arena    attend  \
0             11.2             77.5       0.174  State Farm Arena  481111.0
1             12.7             77.3       0.180         TD Garden  574680.0
2             11.6             75.7       0.192   Barclays Center  479506.0
3             12.0             78.6       0.189     United Center  641618.0
4             13.3             75.3       0.189   Spectrum Center  476337.0

   attend_g
0   16037.0
1   18538.0
2   17125.0
3   20697.0
4   17012.0

[5 rows x 31 columns]
The best NBA team of all time based on win-loss record and pace of play is:
team        Golden State Warriors
w                            73.0
l                             9.0
win_loss                 0.890244
pace                         99.3
Name: 195, dtype: object
The average pace of play for all teams in the dataset is 99.55.

In [71]:
"""
The idea here is to look at `wins at home` vs `wins away.` Need to clarify that
on column names or by concatenating & manipulating some




"""



import pandas as pd

# Load the teamsummaries.csv dataset
df = pd.read_csv('/content/drive/MyDrive/AI ACADEMY/1- Computer Programming with Python/Week 9 - Notebooks/week9 student/Team Summaries.csv')

# Display the first few rows of the dataset
print(df.head())

# Calculate the win-loss record for all teams in the dataset
df['win_loss'] = df['w'] / (df['w'] + df['l'])

# Find the team with the best win-loss record
best_team = df.loc[df['win_loss'].idxmax()]

# Print the team with the best win-loss record and their statistics
print("The best NBA team of all time based on win-loss record is:")
print(best_team[['team', 'w', 'l', 'win_loss']])

   season   lg               team abbreviation  playoffs   age     w     l  \
0    2022  NBA      Atlanta Hawks          ATL     False  26.1  28.0  30.0
1    2022  NBA     Boston Celtics          BOS     False  26.0  34.0  26.0
2    2022  NBA      Brooklyn Nets          BRK     False  29.1  31.0  28.0
3    2022  NBA      Chicago Bulls          CHI     False  26.2  38.0  21.0
4    2022  NBA  Charlotte Hornets          CHO     False  25.6  29.0  31.0

     pw    pl  ...  tov_percent  orb_percent  ft_fga  opp_e_fg_percent  \
0  30.0  28.0  ...         11.3         22.8   0.199             0.540
1  40.0  20.0  ...         12.7         23.8   0.194             0.496
2  30.0  30.0  ...         12.4         23.4   0.190             0.516
3  34.0  25.0  ...         11.9         20.9   0.198             0.533
4  28.0  32.0  ...         11.6         23.1   0.172             0.540

   opp_tov_percent  opp_drb_percent  opp_ft_fga             arena    attend  \
0             11.2             77.5       0.174  State Farm Arena  481111.0
1             12.7             77.3       0.180         TD Garden  574680.0
2             11.6             75.7       0.192   Barclays Center  479506.0
3             12.0             78.6       0.189     United Center  641618.0
4             13.3             75.3       0.189   Spectrum Center  476337.0

   attend_g
0   16037.0
1   18538.0
2   17125.0
3   20697.0
4   17012.0

[5 rows x 31 columns]
The best NBA team of all time based on win-loss record is:
team        Golden State Warriors
w                            73.0
l                             9.0
win_loss                 0.890244
Name: 195, dtype: object

In [73]:
import pandas as pd

# Load the teamsummaries.csv dataset
df = pd.read_csv('/content/drive/MyDrive/AI ACADEMY/1- Computer Programming with Python/Week 9 - Notebooks/week9 student/Team Summaries.csv')

# Display the first few rows of the dataset
print(df.head())

# Calculate the win-loss record for all teams in the dataset
df['win_loss'] = df['w'] / (df['w'] + df['l'])

# Find the team with the best win-loss record
best_team = df.loc[df['win_loss'].idxmax()]

# Find the team with the most at home wins
most_home_wins = df.loc[df['w_home'].idxmax()]

# Find the team with the most away game wins
most_away_wins = df.loc[df['w_away'].idxmax()]

# Print the results to the console
print("The best NBA team of all time based on win-loss record is:")
print(best_team[['team', 'w', 'l', 'win_loss']])
print("\nThe team with the most wins at home is:")
print(most_home_wins[['team', 'w_home']])
print("\nThe team with the most wins on the road is:")
print(most_away_wins[['team', 'w_away']])

   season   lg               team abbreviation  playoffs   age     w     l  \
0    2022  NBA      Atlanta Hawks          ATL     False  26.1  28.0  30.0
1    2022  NBA     Boston Celtics          BOS     False  26.0  34.0  26.0
2    2022  NBA      Brooklyn Nets          BRK     False  29.1  31.0  28.0
3    2022  NBA      Chicago Bulls          CHI     False  26.2  38.0  21.0
4    2022  NBA  Charlotte Hornets          CHO     False  25.6  29.0  31.0

     pw    pl  ...  tov_percent  orb_percent  ft_fga  opp_e_fg_percent  \
0  30.0  28.0  ...         11.3         22.8   0.199             0.540
1  40.0  20.0  ...         12.7         23.8   0.194             0.496
2  30.0  30.0  ...         12.4         23.4   0.190             0.516
3  34.0  25.0  ...         11.9         20.9   0.198             0.533
4  28.0  32.0  ...         11.6         23.1   0.172             0.540

   opp_tov_percent  opp_drb_percent  opp_ft_fga             arena    attend  \
0             11.2             77.5       0.174  State Farm Arena  481111.0
1             12.7             77.3       0.180         TD Garden  574680.0
2             11.6             75.7       0.192   Barclays Center  479506.0
3             12.0             78.6       0.189     United Center  641618.0
4             13.3             75.3       0.189   Spectrum Center  476337.0

   attend_g
0   16037.0
1   18538.0
2   17125.0
3   20697.0
4   17012.0

[5 rows x 31 columns]

KeyError: ignored